.container {
  text-align: center;
  background-color: bisque;
  padding: 50px 0;
  margin-bottom: 50px;
}
.container h1 {
  font-size: 60px;
}
.container h2 {
  font-size: 48px;
  color: red;
}

.container p {
  font-size: 40px;
  color: #0087ff;
  font-style: italic;
}
